/* Calendar CSS */
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_opsz\,wght.ttf);
}

#prev, #next {
    color: #ffffff;
    background-color: transparent;
    font-size: 30px;   
    border: none;
}

.main-container {
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
    width: 100%;
   
}
.calendar-container{
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    max-width: 700px; 
    margin-right: 20px;
    
   
}
.events-container {
    width: 100%; 
    max-width: 900px; 
    padding-top: 20px;
    padding: 10px;
    
}

.calendar-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: white;
    width: 100%;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    margin: 10px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Styles for weekdays */
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
}

.weekday {
    border-radius: 5px;
    color: #F76902;
    font-family: Roboto;
    font-weight: 800;
}

/* Styles for day elements */
.day {
    padding: 8px;
    text-align: center;
    color: black;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: Roboto;
    border-radius: 100px;
}

.day:hover{
    background-color: #E9ECEF;
}

/* Apply styles to the selected date */
.day.selected { 
    background-color: #F76902; 
    border-radius: 99px; 
    color: white;
}

.empty {
    background-color: transparent; 
    border: none; 
}


.event {
    background-color: #ffffff; 
    padding: 4px; 
    margin-bottom: 10px; 
    padding-top: 20px;
}

.event strong{
    font-family: Roboto;
    margin:12px;
}

.event p{
    font-family: Roboto;
    margin: 12px;
}

.meeting-marker {
    position: absolute;
    width: 4px;
    height: 115.85px;
    transform: translate(-4px, -20px);
}

.calendar-status{
    position: absolute;
    transform: translate(17vw, -12px);
}
 


