@media screen and (max-width: 900px) {
    html {
        max-width: 100%;
        font-size: 0.8rem;
    }
    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .points-bar, .chart-background {
        transform: rotate(-90deg) translate(-50px, -60px);
        width: 400px !important;
        position: absolute !important;
    }

    .chart-background p {
        transform: rotate(90deg) translate(5vw, -11vw) !important;
        position: absolute;
        top: 57vw;
    }

    .chart-placeholder{
        height: 120vw;
        width: 100%;
        color: #ff0000;
    }

    .chart-first-zero{
        opacity: 0;
    }

    .points-info-container2 {
        grid-template-columns: 1fr;
    }

    .wics-coms-container section {
        position: absolute;
        width: 80vw;
    }

    .coms{
        transform: translateY(500px);
    }

    .calendar-sec {
        position: absolute;
        transform: translate(-15px, 1500px);
        width: 80vw;
    }
    .day{
        padding: 2px !important;
    }
    .calendar-status{
        transform: translateX(50px);
    }
}
