@media screen and (max-width: 900px) {
    html {
        max-width: 100%;
        font-size: 0.8rem;
    }

    body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    h2 {
        width: 200px;
    }

    .points-bar, .chart-background {
        transform: rotate(-90deg) translate(-50px, -50px);
        width: 400px !important;
        position: absolute !important;
    }

    .pointsbarcoms {
        transform: rotate(-90deg) translate(-50px, 160px);
    }

    .chart-background p {
        transform: rotate(90deg) translate(5vw, -11vw) !important;
        position: absolute;
        op: 57vw;
    }

    .chart-placeholder {
        height: 120vw;
        width: 100%;
        color: #ff0000;
    }

    .chart-first-zero {
        opacity: 0;
    }

    .points-info-container2 {
        grid-template-columns: 1fr;
    }

    .wics-coms-container section {
        position: absolute;
        width: 70vw;
    }

    .coms {
        transform: translateY(500px);
    }

    .calendar-sec {
        position: absolute;
        transform: translate(-20px, 1300px);
        width: 80vw;
    }

    .day {
        padding: 2px !important;
    }

    .calendar-status {
        transform: translate(43vw, -13px) !important;
    }

    .points-info-container2 {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        width: 164%;
    }

    .social-events {
        grid-column: 1/5 !important;
        grid-row: 1;
    }

    .volunteering {
        grid-column: 1/5 !important;
        grid-row: 2;
    }

    .meeting-marker {
        height: 104.25px !important;
    }

    .chart-labels div:not(div:first-of-type) div {
        margin-left: 0px !important;
    }

    .chart-labels {
        transform: translateY(-5vw);
    }

    #history {
        width: 160%;
    }

    .table-container p {
        display: flex;
        flex-direction: column;
    }

    .points-info-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(6, 1fr) !important;
        width: 160% !important;
        transform: translateY(400px);
    }

    .mentorship-points-box {
        grid-row: 1 / 2 !important;
        grid-column: 1 !important;
    }

    .volunteering-points-box {
        grid-row: 2 / 3 !important;
        grid-column: 1 !important;
    }

    .attendance-points-box {
        grid-row: 3 !important;
        grid-column: 1 !important;
    }
    .miscellaneous-points-box {
        grid-row: 3 !important;
        grid-column: 1 !important;
    }

    .comschartlabels {
        transform: rotate(90deg) translateX(-450px) !important;
        display: flex;
        flex-direction: column !important;
    }
}
