@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --main-font: "Inter", sans-serif;
    --orange: #F76902;
    --label-purple: #9747FF;
    --label-blue: #009CBD;
    --label-green: #84BC00;
    --label-yellow: #F6BE00;
    --label-opacity: .5;
    --article-child-margin: 1%;
    --article-child-padding: 4%;
    --info-box-padding: 4%;
    --bar-height:25px;
}

html {
    background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5 {
    font-family: var(--main-font);
}

p {
    font-size: 1rem;
}

.small-text{
    font-size: .75rem ;
}

.external-url {
    font-style: italic;
    font-weight: lighter;
}

/*

Classes related to "chart-bar" and related subitems

*/

.chart-bar {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    height: var(--bar-height);
}

.chart-bar div {
    opacity: var(--label-opacity);
}

.chart-bar div:nth-child(1) {
    background-color: var(--label-purple);
}

.chart-bar div:nth-child(2) {
    background-color: var(--label-blue);
}

.chart-bar div:nth-child(3) {
    background-color: var(--label-green);
}

.chart-bar div:nth-child(4) {
    background-color: var(--label-yellow);
}

/*

Classes related to "chart-labels" and related subitems

*/

.chart-labels {
    display:flex;
    flex-direction: row;
}

.chart-labels div {
    display: flex;
    flex-direction: row;
}

.chart-labels div div{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: var(--label-opacity);
    margin-top: 1rem;
    margin-right: 0.25rem;
}

.chart-labels div:not(div:first-of-type) div{
    margin-left: 1.5rem;
}

.chart-labels div:nth-child(1) div {
    background-color: var(--label-purple);
}

.chart-labels div:nth-child(2) div{
    background-color: var(--label-blue);
}

.chart-labels div:nth-child(3) div {
    background-color: var(--label-green);
}

.chart-labels div:nth-child(4) div{
    background-color: var(--label-yellow);
}

.chart-labels :last-child {
    margin-left: auto;
}

/* 

Classes relating to "info-box-gray" 

*/

.info-box-gray {
    display: flex;
    flex-direction: column;
    background-color: #E9ECEF;
    position: relative;
    padding: 2% var(--article-child-padding) ;
    margin: var(--article-child-margin);

}

.info-box-gray h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* all divs that do not have the extra-info tag */
.info-box-gray div:not(div.extra-info) {
    display: flex;
    justify-content: space-between;
    padding-left: var(--info-box-padding);
    padding-right: var(--info-box-padding);
}

/* First Box */
.info-box-gray div:first-of-type {
    border-top: solid 1px black;
}

/* Every other box */
.info-box-gray div {
    border-bottom: solid 1px black;
}


.info-box-gray div.extra-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border: none;
}

.learn-more{
    font-family: var(--main-font);
    font-size: 1.166875rem;
    color: #F76902;
    background-color: transparent;
    border: solid 3px var(--orange);
    margin-left: 27.5%;
    margin-right: 27.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* 

Items specifc to COMMS below

*/

article:has(.chart-bar) {
    padding: 2em 0;
}

.points-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mentorship-points-box {
    grid-row: 1/-1;
    grid-column: 1;
}

.volunteering-points-box {
    grid-row: 1/-1;
    grid-column: 2;
}

.attendance-points-box {
    grid-row: 1;
    grid-column: 3;
}

.attendance-points-box p {
    font-size: 0.75em;
} 

.miscellaneous-points-box {
    grid-row: 2;
    grid-column: 3;
}