@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_opsz\,wght.ttf);
}

:root {
    --main-font: "Roboto", sans-serif;
    --orange: #F76902;
    --label-purple: #9747FF;
    --label-blue: #009CBD;
    --label-green: #84BC00;
    --label-yellow: #F6BE00;
    --medium-gray: #E9ECEF;
    --stroke-gray: #DEDEDE;
    --label-opacity: .5;
    --article-child-margin: 1%;
    --article-child-padding: 4%;
    --info-box-padding: 4%;
    --bar-height:25px;
}

html {
    background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5 {
    font-family: var(--main-font);
}

p {
    font-size: 1rem;
}

.small-text{
    font-size: .75rem ;
}

.external-url {
    font-style: italic;
    font-weight: lighter;
}

/*
Items in nav bar on top
*/

nav {
    width: 100%;
    height: 40px;
    background-color: #000;
}

.nav-options-box {
    background-color: #F76902;
    width: fit-content;
    margin: 0 auto;
    float: right;
    padding: 0px 36px;
    height: 40px;
}

.nav-options-box:first-child {
    padding-left: 0px;
}

.nav-options-box li {
    display: inline-block;
    padding-left: 32px;
}

.nav-options-box p {
    margin: 12px 0px;
    color: #FFF;
    font-size: 0.8rem;
}

.nav-options-box a {
    text-decoration: none;
}

.nav-options-box section {
    font-weight: 800;
}

.nav-options-box img {
    transform: translateY(-2px);
}

/*

Classes related to table-container

*/

.table-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-container > div:first-of-type {
    background-color: var(--medium-gray);
}

.table-container div div {
    width: 100%;
}

.table-container p {
    margin: 0 var(--article-child-margin);
    padding: 2%;
    width: 100%;
}

.table-container > div:nth-child(2) {
    border-top: var(--stroke-gray) solid;
    border-radius: .1em 0;
}

.table-container > div:not(:first-of-type) {
    border-bottom: var(--stroke-gray) solid;
    border-width: .1em 0;
}

/*

Classes related to "chart-bar" and related subitems

*/

.chart-bar {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    height: var(--bar-height);
}

.chart-bar div {
    opacity: var(--label-opacity);
}

.chart-bar div:nth-child(1) {
    background-color: var(--label-purple);
}

.chart-bar div:nth-child(2) {
    background-color: var(--label-blue);
}

.chart-bar div:nth-child(3) {
    background-color: var(--label-green);
}

.chart-bar div:nth-child(4) {
    background-color: var(--label-yellow);
}

/*

Classes related to "chart-labels" and related subitems

*/

.chart-labels {
    display:flex;
    flex-direction: row;
}

.chart-labels div {
    display: flex;
    flex-direction: row;
}

.chart-labels div div{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: var(--label-opacity);
    margin-top: 1rem;
    margin-right: 0.25rem;
}

.chart-labels div:not(div:first-of-type) div{
    margin-left: 1.5rem;
}

.chart-labels div:nth-child(1) div {
    background-color: var(--label-purple);
}

.chart-labels div:nth-child(2) div{
    background-color: var(--label-blue);
}

.chart-labels div:nth-child(3) div {
    background-color: var(--label-green);
}

.chart-labels div:nth-child(4) div{
    background-color: var(--label-yellow);
}

.chart-labels :last-child {
    margin-left: auto;
}

/* 

Classes relating to "info-box-gray" 

*/

.info-box-gray {
    display: flex;
    flex-direction: column;
    background-color: var(--medium-gray);
    position: relative;
    padding: 2% var(--article-child-padding) ;
    margin: var(--article-child-margin);

}

.info-box-gray h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* all divs that do not have the extra-info tag */
.info-box-gray div:not(div.extra-info) {
    display: flex;
    justify-content: space-between;
    padding-left: var(--info-box-padding);
    padding-right: var(--info-box-padding);
}

/* First Box */
.info-box-gray div:first-of-type {
    border-top: solid 1px black;
}

/* Every other box */
.info-box-gray div {
    border-bottom: solid 1px black;
}


.info-box-gray div.extra-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border: none;
}

.learn-more{
    font-family: var(--main-font);
    font-size: 1.166875rem;
    color: #F76902;
    background-color: transparent;
    border: solid 3px var(--orange);
    margin-left: 27.5%;
    margin-right: 27.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* 

Items specifc to COMMS below

*/

.points-bar {
    padding: 2em 0;
}

.points-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mentorship-points-box {
    grid-row: 1/-1;
    grid-column: 1;
}

.volunteering-points-box {
    grid-row: 1/-1;
    grid-column: 2;
}

.attendance-points-box {
    grid-row: 1;
    grid-column: 3;
}

.attendance-points-box p {
    font-size: 0.75em;
} 

.miscellaneous-points-box {
    grid-row: 2;
    grid-column: 3;
}

/* 

Items specific to membership-history-container

*/

.membership-history-container div div:first-of-type {
    flex: 8;
}

.membership-history-container div div:last-of-type {
    flex: 1;

    /* Attempt to center everything else */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.membership-history-container > div:not(:first-of-type) p:last-of-type {
    padding-top: 0%;
    font-size: 0.75rem;
}

.membership-history-container > div span:not(:last-of-type) {
    margin-right: 2%;
}


.membership-history-container img {
    height: 2.5em;
}

/*
    Items in large database dropdowns
*/
.database-dropdown-large1, .database-dropdown-large2 {
    position: relative;
    display: inline-block;
    margin-top: 64px;
    margin-left: 64px;
    border: 1.5px #727578 solid;
    border-radius: 2px;
    z-index: 3;
}

.database-dropdown-large2 {
    margin-left: 32px;
}

    .database-dropdown-large1 button, .database-dropdown-large2 button {
        width: 420px;
        height: 60px;
        font-size: 1rem;
        font-family: var(--main-font);
        background-color: #fff;
        text-align: left;
        padding-left: 12px;
        border: none;
    }

.dropDownArrow {
    float: right;
    transform: translateX(-8px);
}

    .dropDownArrow img {
        transition: transform 0.3s ease-in-out;
    }

.database-dropdown-large1:focus-within .dropDownArrow img, .database-dropdown-large2:focus-within .dropDownArrow img {
    transform: rotate(-180deg);
}

.dropdown-content-large1, .dropdown-content-large2 {
    width: 420px;
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    border: 1.5px solid #DEDEDE;
    border-top: none;
    border-radius: 0 0 2px 2px;
    transform: translateX(-1px);
}

    .dropdown-content-large1 a, .dropdown-content-large2 a {
        font-size: 1rem;
        font-family: var(--main-font);
        padding: 12px 12px;
        display: block;
        background-color: #fff;
    }

        .dropdown-content-large1 a:hover, .dropdown-content-large2 a:hover {
            background-color: #E9ECEF;
        }


.show1, .show2, .show3 {
    display: block;
}

.database-dropdown-large1:focus-within, .database-dropdown-large2:focus-within {
    border-color: #DEDEDE;
    border-bottom: none;
    border-radius: 0 0 2px 2px;
}

/*
    Items in large database dropdowns
*/

.database-dropdown-medium {
    position: absolute;
    display: block;
    width: 256px;
    margin-top: 48px;
    margin-left: 36px;
    transform: translateX(320px);
    border: 1.5px #727578 solid;
    border-radius: 2px;
    z-index: 2;
}


    .database-dropdown-medium button {
        width: 256px;
        height: 60px;
        font-size: 1rem;
        font-family: var(--main-font);
        background-color: #fff;
        text-align: left;
        padding-left: 12px;
        border: none;
    }

    .database-dropdown-medium:focus-within .dropDownArrow img {
        transform: rotate(-180deg);
    }

.dropdown-content-medium {
    width: 256px;
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    border: 1.5px solid #DEDEDE;
    border-top: none;
    border-radius: 0 0 2px 2px;
    transform: translateX(-1px);
}

    .dropdown-content-medium a {
        font-size: 1rem;
        font-family: var(--main-font);
        padding: 12px 12px;
        display: block;
        background-color: #fff;
    }

        .dropdown-content-medium a:hover {
            background-color: #E9ECEF;
        }


.show1, .show2, .show3 {
    display: block;
}

.database-dropdown-medium:focus-within {
    border-color: #DEDEDE;
    border-bottom: none;
    border-radius: 0 0 2px 2px;
}
/*
    Search field
*/

.search-container {
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 64px;
}

input[type="text"] {
    font-family: var(--main-font);
    font-size: 1rem !important;
    width: 100%;
    max-width: 236px;
    height: 40px;
    padding: 10px;
    border: 1px solid #727578;
    border-radius: 2px;
    font-size: 16px;
}
/*
    Orange buttons on admin pages
*/

.optbutton {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #F76902;
    margin-left: 32px;
    transform: translate(616px, -60px) !important;
    border-radius: 2px;
}

    .optbutton button, .confbutton button {
        background-color: transparent;
        border: none;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: 2px;
    }

    .optbutton img {
        margin: 0 auto;
        padding: 0;
    }

.confbutton {
    position: relative;
    display: inline-block;
    float: right;
    height: 60px;
    width: 60px;
    background-color: #000;
    transform: translate(-64px, -60px);
    border-radius: 2px;
}

/*
    Everything in admin tables
*/
.dbTable {
    width: calc(100vw - 128px) !important;
    font-family: var(--main-font);
    font-size: 0.75rem;
    margin-left: 64px;
    text-align: left;
    border-collapse: collapse;
    table-layout: auto;
    transform: translateY(-32px);
}

.dbTableTop {
    background-color: #E9ECEF;
}

.dbTableRow {
    border-bottom: solid 1.5px #DEDEDE;
}

    .dbTableTop th, .dbTableRow td {
        padding: 8px 16px;
    }

.dbTablePH {
    width: 15%;
}

.dbTableTop th {
    width: max-content;
    white-space: nowrap;
}

.tableFlex {
    width: fit-content;
}

.dbTableRow input {
    width: 40px;
}

/*
    Checkboxes
*/
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate(-4px, -10px);
}

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
}

.container:hover input ~ .checkmark {
    background-color: #E9ECEF;
}

.container input:checked ~ .checkmark {
    background-color: #F76902;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Index */

.wicsdemo-container {
    padding: 2%;
    margin: 2%;
}

.titlewics{
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: bold;
    padding: 2%;
    margin: 2%;
}
.wics-coms-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between columns */
  }
  
  .wics-coms-container h2{
    font-family: var(--main-font);
    text-align: left;
    margin-bottom: 20px; /* Adjust spacing below the heading */
    margin: 2%;
    padding: 2%;
   
  }
  .wics, .coms {
    flex: 1;
    text-align: center;
    padding: 40px 20px; /* More padding for better content visibility */
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    color: white; /* Ensures text remains readable */
    font-weight: bold;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
  }

  .wics {
    background-image: url("../images/women-in-computing.jpg");

  }
  
  .coms {
    background-image: url("../images/coms.jpg"); 
    
  }
  
 

  .wicsextra-info {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px;  /* Adjust as needed */
  }

.wicscomsbutton {
    font-family: var(--main-font);
    width: 200px; 
    height: 60px;
    padding: 8px 12px;
    border: 2px solid white;
    background-color: #F76902;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }


.wicscomsbutton:hover {
    /* background-color: rgba(0, 86, 179, 0.9); */
    border-color: #9747FF;;
  }

  /* Wics Current Semester */
  
  .tablinks {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none; /* Ensures no underline by default */
}



.titletabssection{    
    font-family: var(--main-font);
    padding: 2%;
    margin: 2%;
    
}
.titletabssection h3{
    font-family: var(--main-font);
    font-size: smaller;
    font-weight: normal;

   
  }

.tablinks:hover {
    
    text-decoration: underline #F76902 ; /* Underlines the text on hover */
}

.tabs {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


.chart-title {
    font-family: var(--main-font);
    font-size: 1.5em;
    padding-top: 1%;
    /* font-weight: bold; */
}

/* .legend {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 10px;
    padding: 10px;
    /* color: black;   
} */

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.legend-row {
    display: flex;
    justify-content: left ;
    gap: 2em;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: .25em;
}

.legend-color {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

svg {
    /* position: relative; */
    font-family: var(--main-font);
    display: block;
    margin-bottom: 20px;
    
    
}
/* .tabcontent{
    background-color: var(--medium-gray);
    width: 100%;
    max-width: 1000px;
    
} */

.tabcontent {
    display: flex;
    flex-direction: column;
    background-color: var(--medium-gray);
    position: relative;
    padding: 2% var(--article-child-padding);
    margin: calc(var(--article-child-margin)/2) ;
}

.wicinfo-box-gray{
    display: flex;
    flex-direction: column;
    background-color: var(--medium-gray);
    position: relative;
    padding: 2% var(--article-child-padding) ;
    margin: var(--article-child-margin);

}

.wicinfo-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.wiclearn-more {
    font-family: var(--main-font);
    font-size: 1.166875rem;
    color: #F76902;
    background-color: transparent;
    border: solid 3px var(--orange);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    width: fit-content;
    margin-left: auto;
}
.wiclearn-more:hover {
    border-color: #9747FF;;
}