<body data-org="{{ org }}">
    <div class="main-container">
        <div class="calendar-container">
            <div class="calendar-header">
                <button id="prev"><img src="../static/images/prev-arrow.png" style="width:16px;" /></button>
                <h2 id="month-title"></h2>
                <button id="next"><img src="../static/images/next-arrow.png" style="width:16px;" /></button>
            </div>
            <div class="calendar-grid"></div>
        </div>
        <div id="events" class="events-container">
            <div class="event" id="event-template" hidden>
                <div class="meeting-marker"></div>
                <strong class='event-name'>General Meeting</strong>
                <p class='event-time'>WED • 6:30PM - 7:30PM</p>
                <p class='description'>GOL - 2400 / Zoom</p>
            </div>

            <!-- <div id="event" class="events-container"></div> -->
            
            <!-- <div class="event">
            </div> -->
            <!-- <div id="meetings-container">
                <p>pauls</p>
            </div>  -->
            
        </div>
    </div>
</body>
