<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <script src="../static/js/mainjavascript.js"></script>
</head>

<!-- Everything below this section will be part of the final code-->

<body>
    <nav>
        <a href="index.html"><img class="backarrow" src="../static/images/back-arrow.png" width="16" /></a>
        <ul class="nav-options-box">
            <li style="padding:0px;"><a href=""><p>NOTIFICATIONS</p></a></li>
            <li><a href=""><p>SETTINGS</p></a></li>
            <li>
                <div class="navbar-dropdown">
                    <button onclick="dropDown4()" class="dropbtn4">
                        WILL SMITH
                        <span class="dropDownArrow"><img src="../static/images/down-arrow-white.png" width="10" /></span>
                    </button>
                    <div id="DropdownContent4" class="dropdown-content-navbar">
                        <a>Profile</a>
                        <a>Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <main>

        <h2 style="margin-left: 80px; margin-top: 80px;">Notifications</h2>

        <table class="dbTable" style="margin-top: 100px;">
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td style="transform: translateX(-30px);"><b>Firstname Lastname</b> has met the requirements for this award: <b>AwardName</b></td>
                <td class="dbTablePH"></td>
                <td style="padding-right: 0px;">MM/DD/YYYY</td> <!--When the notification was sent-->
            </tr>
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td style="transform: translateX(-30px);"> The report for the <b>Semester & Year</b> semester is now available. <button class="semester-report-btn">View</button></td>
                <td class="dbTablePH"></td>
                <td style="padding-right: 0px;">MM/DD/YYYY</td> <!--When the notification was sent-->
            </tr>
        </table>

    </main>

</body>
</html>