{% extends "base.html.j2" %}
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
{% endblock %}
{% block content %}
<body>
{% include "nav.html.j2" %} 
    <main>

        <h2 style="margin-left: 80px; margin-top: 80px;">Notifications</h2>

        <table class="dbTable" style="margin-top: 100px;">
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td style="transform: translateX(-30px);"><b>Firstname Lastname</b> has met the requirements for this award: <b>AwardName</b></td>
                <td class="dbTablePH"></td>
                <td style="padding-right: 0px;">MM/DD/YYYY</td> <!--When the notification was sent-->
            </tr>
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td style="transform: translateX(-30px);"> The report for the <b>Semester & Year</b> semester is now available. <button style="transform:translateX(10px);" class="semester-report-btn">View</button></td>
                <td class="dbTablePH"></td>
                <td style="padding-right: 0px;">MM/DD/YYYY</td> <!--When the notification was sent-->
            </tr>
        </table>

    </main>

</body>
{% endblock %}