<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards</title>
   <style>
    
    .emailcontainer {
    max-width: 600px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.emailheader {
    background: #F76902;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
.emailcontent {
    padding: 20px;
    font-size: 16px;
    color: #333;
}
.emailevent {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #F76902;
}

.emailbutton {
    display: inline-block;
    padding: 10px 20px;
    background: #F76902;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
   </style>
</head>

<body>
    <div class="emailcontainer">
        <div class="emailheader">
            <h2>Congratulations, you have received an award!</h2>
        </div>
        <div class="emailcontent">
            <p>Dear {{ user.full_name }},</p>
            <p>We are excited to share that you have received <strong> {{ award.name }} </strong>  by meeting the following requirements.</p>
            <h3>Requirements met</h3>
            <p>Number of Semesters: {{ award.active_semester_requirements }}</p>
            {#  
            <p>General Meetings: {{ general_meetings }}/14</p>
            <p>Committee Meetings: {{ committee_meetings }}/6</p>
            <p>Volunteering: {{ volunteering }}/1</p>
            <p>Social Events: {{ social_events }}/1</p>
            #}
            <br>
            <p>Keep up the great work!</p>
            <p>Best regards,</p>
            <p><strong>{{ org_name }}</strong></p>
        </div>
    </div>
</body>
</html>


