<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dialogue.css">
    <script src="../static/js/mainjavascript.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/dialogs.js"></script>
	<script src="../static/js/mainjavascript.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
	<nav>
		<a href="index.html">
			<img class="backarrow" src="../static/images/back-arrow.png" width="16" />
		</a>
		<ul class="nav-options-box">
			<li style="padding:0px;" >
				<a href="">
					<p>NOTIFICATIONS</p>
				</a>
			</li>
			<li>
				<a href="">
					<p>SETTINGS</p>
				</a>
			</li>
			<li>
				<div class="navbar-dropdown">
					<button onclick="dropDown4()" class="dropbtn4">
						WILL SMITH <!--Replace name with student name-->
						<span class="dropDownArrow">
							<img src="../static/images/down-arrow-white.png" width="10" />
						</span>
					</button>
					<div id="DropdownContent4" class="dropdown-content-navbar">
						<a>Profile</a>
						<a>Logout</a>
					</div>
				</div>
			</li>
		</ul>
	</nav>
{% block content %}
{% endblock %}
</body>
</html>