<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../static/css/calendar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/calendar.css">
    <script src="../static/js/mainjavascript.js"></script>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dialogue.css">
    <script src="../static/js/mainjavascript.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/dialogs.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav>
    <ul class="nav-options-box">
        <li><a href=""><p>NOTIFICATIONS</p></a></li>
        <li><a href=""><p>SETTINGS</p></a></li>
        <li><section><p>{{ current_user.first_name }} {{ current_user.last_name }} <img src="../static/images/down-arrow-white.png" width="10em" /> </p></section></li>
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>