<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    {% block head %}
    {% block endblock' %}
    <title>{% block title %}{% endblock %}</title>
    <style>
        .demo-container {
            padding: 2%;
            margin: 2%;
            border: solid 5px black;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
