<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <style>
        .demo-container {
            padding: 2%;
            margin: 2%;
            border: solid 5px black;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>