<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Update & Upcoming Events</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <div class="emailcontainer">
        <div class="emailheader">
            <h2>Membership Update & Upcoming Events</h2>
        </div>
        <div class="emailcontent">
            <p>Dear {{user.first_name}},</p>
            <p>We are excited to share some updates regarding your membership status and upcoming events you might be interested in!</p>
            <h3>Number of points</h3>
            <p><strong>Points:</strong> [x/18]</p>
            
            <h3>Upcoming Events</h3>
            <div class="emailevent">
                <h4>[Event Title]</h4>
                <p><strong>Date:</strong> [MM/DD/YYYY]</p>
                <p><strong>Location:</strong> [Event Location]</p>
                <p>[Brief Description]</p>
                <p>Number of Points: </p>
                <a href="[Event Link]" class="emailbutton">Register Now</a>
            </div>
            <div class="emailevent">
                <h4>[Event Title]</h4>
                <p><strong>Date:</strong> [MM/DD/YYYY]</p>
                <p><strong>Location:</strong> [Event Location]</p>
                <p>[Brief Description]</p>
                <p>Number of Points: </p>
                <a href="[Event Link]" class="emailbutton">Register Now</a>
            </div>

            <p>We look forward to seeing you at our upcoming events!</p>
            <p>Best regards,</p>
            <p><strong>[Organization Name]</strong></p>
        </div>
       
    </div>
</body>
</html>


