{% extends "base.html.j2" %}
{% block head %}
<script defer src="{{ url_for("static", filename="js/admin-config.js") }}"></script>
{% endblock %}
{% block content %}
{% include "nav.html.j2" %} 

    <main>
        <form method="POST" action={{ url_for("admin.org_settings", org=org_id) }}>
            {{ form.csrf_token }}
            <h2 style="margin-left: 80px; margin-top: 80px;">Settings</h2>

            <div class="config-sec">
                <div class="config-sec-sub">
                    <!--This is where meeting amounts can be configured-->
                    <h3>MEMBERSHIP REQUIREMENTS</h3>
                    <h4>General Meetings Required:</h4>
                    {{ form.general_meetings_requirement() }}

                    <h4>Committee Meetings Required:</h4>
                    {{ form.committee_meetings_requirement() }}

                    <h4>Social Events Required:</h4>
                    {{ form.social_meetings_requirement() }}

                    <h4>Volunteering Required:</h4>
                    {{ form.volunteering_meetings_requirement() }}
                </div>

                <div class="config-sec-sub" id="award-list">
                    <!--This is where semester amounts can be configured-->
                    <h3>SEMESTER AWARDS</h3>
                    
                    <div class="semester-config" id="semester-template" hidden>
                        <input min="1" name="award_settings-0-semester" required="" type="number" value="" disabled>
                        <input maxlength="40" name="award_settings-0-award_name" required="" type="text" value="" disabled>
                        <button type="button" class="trashbtn" onclick="rmConfig(this)"><img width="20" src="{{ url_for("static", filename="images/trash.png") }}" /></button>
                    </div>
                    
                    {% for award_form in form.award_settings %}
                     <div class="semester-config">
                        {{ award_form.award_id() }}
                        {{ award_form.semester() }}
                        {{ award_form.award_name() }}
                        <button type="button" class="trashbtn" onclick="rmConfig(this)"><img width="20" src="{{ url_for("static", filename="images/trash.png") }}" /></button>
                    </div>
                    {% endfor %}
                    <button type="button" class="semester-report-btn addsem" onclick="addAward()">Add Semester</button>  <!--If this button is pressed, a row should be added-->
                </div>

                <div class="config-sec-sub" id="last-of-config">
                    <!--This is where admins can be configured-->
                    <h3>ADMINISTRATORS</h3>
                    <div class="admin-config" id="admin-template" hidden>
                        <h4>Please type in an email address</h4>
                        {{ form.admins[0](value="", disabled=True)}}
                        <button type="button" class="trashbtn" onclick="rmConfig(this)"><img width="20" src="{{ url_for("static", filename="images/trash.png") }}" /></button>
                    </div>
                    {% for admin in form.admins %}
                    <div class="admin-config">
                        <h4>Please type in an email address</h4>
                        {{ admin() }} <!--Email address should be given admin priviliges for that group-->
                        <button type="button" class="trashbtn" onclick="rmConfig(this)"><img width="20" src="{{ url_for("static", filename="images/trash.png") }}" /></button> <!--If this button is pressed, this row should be deleted-->
                    </div>
                    {% endfor %}
                    <button type="button" style="margin-top:16px" class="semester-report-btn addsem" onclick="addAdmin()">Add Administrator</button> <!--If this button is pressed, a row should be added-->
                </div>
                <button type="submit" style="margin:20px; float:right" class="wicscomsbutton">Save Changes</button>
            </div>
        </form>
    </main>

{% endblock %}