{% extends "base.html.j2" %}
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
{% endblock %}
{% block content %}
{% include "nav.html.j2" %} 
	<main>
        <form>
            <h2 style="margin-left: 80px; margin-top: 80px;">Settings</h2>

            <div class="config-sec">
                <div class="config-sec-sub">
                    <!--This is where point amounts can be configured-->
                    <h3>MEMBERSHIP REQUIREMENTS</h3>
                    <h4>Total Points Required:</h4>
                    <input type="text" id="GenMeet" name="GenMeetReq" value="DataHere">

                    <h4>Mentorship Program Max Points:</h4>
                    <input type="text" id="ComMeet" name="ComMeetReq" value="DataHere">

                    <h4>Volunteering Max Points:</h4>
                    <input type="text" id="SocEven" name="SocEvenReq" value="DataHere">

                    <h4>Attendance Max Points:</h4>
                    <input type="text" id="Volun" name="VolunReq" value="DataHere">
                </div>

                <div class="config-sec-sub">
                    <!--This is where semester amounts can be configured-->
                    <h3>SEMESTER AWARDS</h3>
                    <div class="semester-config">
                        <select name="semesters" id="semesters">
                            <!--Pick semester award to configure-->
                            <option>Semester 1</option>
                            <option>Semester 2</option>
                            <option>Semester 3</option>
                            <option>Semester 4</option>
                            <option>Semester 5</option>
                            <option>Semester 6</option>
                            <option>Semester 7</option>
                            <option>Semester 8</option>
                            <option>Semester 9</option>
                            <option>Semester 10</option>
                        </select>
                        <input type="text" id="reward" name="reward" value="DataHere">  <!--Type in award-->
                        <button class="trashbtn"><img width="20" src="../static/images/trash.png" /></button>  <!--If this button is pressed, this row should be deleted-->
                    </div>
                    <div class="semester-config">
                        <select name="semesters" id="semesters">
                            <option>Semester 1</option>
                            <option>Semester 2</option>
                            <option>Semester 3</option>
                            <option>Semester 4</option>
                            <option>Semester 5</option>
                            <option>Semester 6</option>
                            <option>Semester 7</option>
                            <option>Semester 8</option>
                            <option>Semester 9</option>
                            <option>Semester 10</option>
                        </select>
                        <input type="text" id="reward" name="reward" value="DataHere">
                        <button class="trashbtn"><img width="20" src="../static/images/trash.png" /></button>
                    </div>
                    <button class="semester-report-btn addsem">Add Semester</button>  <!--If this button is pressed, a row should be added-->
                </div>

                <div class="config-sec-sub" id="last-of-config">
                    <!--This is where admins can be configured-->
                    <h3>ADMINISTRATORS</h3>
                    <div class="admin-config">
                        <h4>Please type in an email address</h4>
                        <input type="text" id="admin" name="admin" value="MeetMax"> <!--Email address should be given admin priviliges for that group-->
                        <button class="trashbtn"><img width="20" src="../static/images/trash.png" /></button> <!--If this button is pressed, this row should be deleted-->
                    </div>
                    <div class="admin-config">
                        <h4>Please type in an email address</h4>
                        <input type="text" id="admin" name="admin" value="MeetMax">
                        <button class="trashbtn"><img width="20" src="../static/images/trash.png" /></button>
                    </div>
                    <button style="margin-top:16px" class="semester-report-btn addsem">Add Administrator</button> <!--If this button is pressed, a row should be added-->
                </div>
                <button style="margin:20px; float:right" class="wicscomsbutton" id="save-changes-button">Save Changes</button>
            </div>
        
        </form>
    </main>
{% endblock %}