<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <style>
        .demo-container {
            padding: 2%;
            margin: 2%;
            border: solid 5px black;
        }
    </style>
</head>

<body>

    <h1>WiC SPECIFIC INTERNAL BOX MOCKUP</h1>

    <div class="demo-container">

        <!-- Everything below this section will be part of the final code-->
        <main>
            <!--Chart Background-->
            <p class="chart-first-zero">0</p>
            <div class="chart-background">
                <div class="chart-bckg1 one-dig-num"><p>2</p></div>
                <div class="chart-bckg2 one-dig-num"><p>4</p></div>
                <div class="chart-bckg3 one-dig-num"><p>6</p></div>
                <div class="chart-bckg4 one-dig-num"><p>8</p></div>
                <div class="chart-bckg5"><p>10</p></div>
                <div class="chart-bckg6"><p>12</p></div>
                <div class="chart-bckg7"><p>14</p></div>

            </div>
            <div class="points-bar">
                <div class="chart-bar wic-bar" style="width:7.14%">
                    <!--Flexbox-->
                    <div style="width:100%"></div><!--Social Event-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:0%"></div><!--Placeholder-->
                </div>
                <div class="chart-bar wic-bar" style="width:7.14%">
                    <!--Flexbox-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:7%"></div><!--Volunteering-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:0%"></div><!--Placeholder-->
                </div>
                <div class="chart-bar wic-bar" style="width:42.86%">
                    <!--Flexbox-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:66%"></div><!--Committee Meetings-->
                    <div style="width:0%"></div><!--Placeholder-->
                </div>
                <div class="chart-bar wic-bar">
                    <!--Flexbox-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:0%"></div><!--Placeholder-->
                    <div style="width:79%"></div><!--General Meetings-->
                </div>
            </div>
            <div class="chart-placeholder"></div>
            <div class="chart-labels">
                <!--Flexbox-->
                <div>
                    <div></div> <!--Circle-->
                    <p>Social Event (1/1)</p>
                </div>
                <div>
                    <div></div> <!--Circle-->
                    <p>Volunteering (0/1)</p>
                </div>
                <div>
                    <div></div> <!--Circle-->
                    <p>Committee Meetings (4/6)</p>
                </div>
                <div>
                    <div></div> <!--Circle-->
                    <p>General Meetings (11/14)</p>
                </div>
                <p><b></b></p>
            </div>

            <!--Gray Boxes-->
            <div class="points-info-container2">

                <section class="info-box-gray social-events">
                    <h2>Social Events</h2>
                    <p>
                        WiC is committed to be a part of the community. To find more information about volunteering opportunities, please visit  <span class="external-url">website name</span>.
                    </p>
                    <span class="learn-more-cont">
                        <button class="learn-more">Learn More</button>
                    </span>
                </section>
                <section class="info-box-gray volunteering">
                    <h2>Volunteering</h2>
                    <p>
                        There are various social events hosted by WiC throughout the year. To find out more about these events, please visit <span class="external-url">website name</span>.
                    </p>
                    <span class="learn-more-cont">
                        <button class="learn-more">Learn More</button>
                    </span>
                </section>
            </div>
        </main>

        <!-- Everything above this section will be part of the final code-->

    </div>

</body>

</html>