{% extends "base.html.j2" %}
<!-- testing purporses only -->
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
<script src="{{ url_for("static", filename="js/student-wics.js") }}" defer></script>
{% endblock %}
<!-- testing purporses only -->
{% block content %}

<main>

   {% include "wictabs.html.j2" %}

    <div class="wicsdemo-container"> 
        <div class="wicspoints-info-container">
            <div class="tabcontent">
                <!-- Legend -->
                <div class="legend">
                    <h2 class="chart-title">Requirements Breakdown</h2>
                    <div>
                        <div class="legend-row">
                            <div class="legend-item">
                                <div class="legend-color" style="background-color: #F5D76E;"></div>
                                <p>General Meetings</p>
                            </div>
                            <div class="legend-item">
                                <div class="legend-color" style="background-color: #A3C85A;"></div>
                                <p>Committee Meetings</p>
                            </div>
                        </div>
                        <div class="chart-bar wic-bar" id="general-total-points-bar">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="general-earned-points-bar" style="width:100%"></div><!--General Meetings--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                        </div>
                    </div>
                    <div class="chart-placeholder"></div>
                    <div class="chart-labels">
                        <!--Flexbox-->
                        <div>
                            <div></div> <!--Circle-->
                            <p>Social Event (<span id="social-events"></span>/1)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>Volunteering (<span id="volunteering-events"></span>/1)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>Committee Meetings (<span id="committee-events"></span>/6)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>General Meetings (<span id="general-events"></span>/14)</p><!--display numerical points here-->
                        </div>
                        <p><b></b></p>
                    </div>

                    <!--Gray Boxes-->
                    <div class="points-info-container2">

                        <section class="info-box-gray social-events">
                            <h2>Volunteering</h2>
                            <p>
                                WiC is committed to be a part of the community. To find more information about volunteering opportunities, please visit  <span class="external-url">WiC's Events Page</span>.
                            </p>
                            <span class="learn-more-cont">
                                <button class="learn-more" onclick="location.href='https://www.rit.edu/womenincomputing/events'">Learn More</button>
                            </span>
                        </section>
                        <section class="info-box-gray volunteering">
                            <h2>Social Events</h2>
                            <p>
                                There are various social events hosted by WiC throughout the year. To find out more about these events, please visit <span class="external-url">WiC's Events Page</span>.
                            </p>
                            <span class="learn-more-cont">
                                <button class="learn-more" onclick="location.href='https://www.rit.edu/womenincomputing/events'">Learn More</button>
                            </span>
                        </section>
                    </div>
                </div>
   
</main>


{% endblock content %}
