<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <style>
        .demo-container {
            padding: 2%;
            margin: 2%;
            border: solid 5px black;
        }
    </style>
</head>
<body>

<h1>WIC SPECIFIC HISTORY INTERNAL BOX MOCKUP</h1>
<p>Read comments in the source code for more notes</p>

<div class="demo-container">

<!-- Everything below this section will be part of the final code-->

<main class="table-container membership-history-container">
    <div>
        <div>
            <p><b>Membership History by Semester</b></p>
        </div>
        <div>
            <p><b>Awards</b></p>
        </div>
    </div>
    <div>
        <div>
            <p><b>Fall 2024:</b> Non-Active Member</p>
            <p>
                <span>11/14 General Meetings</span>
                <span>5/6 Committee Meetings</span>
                <span>0/1 Social Event</span>
                <span>1/1 Volunteering</span>
            </p>
        </div>
        <div>
            <img/>
        </div>
    </div>
    <div>
        <div>
            <p><b>Spring 2024:</b> Active Member</p>
            <p>
                <span>14/14 General Meetings</span>
                <span>6/6 Committee Meetings</span>
                <span>1/1 Social Event</span>
                <span>1/1 Volunteering</span>
            </p>
        </div>
        <div>
            <img/>
        </div>
    </div>
    <div>
        <div>
            <p><b>Fall 2023:</b> Active Member</p>
            <p>
                <span>14/14 General Meetings</span>
                <span>6/6 Committee Meetings</span>
                <span>1/1 Social Event</span>
                <span>1/1 Volunteering</span>
            </p>
        </div>
        <div>
            <img/>
        </div>
    </div>
    <div>
        <div>
            <p><b>Spring 2023:</b> Active Member</p>
            <p>
                <span>14/14 General Meetings</span>
                <span>6/6 Committee Meetings</span>
                <span>1/1 Social Event</span>
                <span>1/1 Volunteering</span>
            </p>
        </div>
        <div>
            <img/>
        </div>
    </div>
    <div>
        <div>
            <p><b>Fall 2022:</b> Non-Active Member</p>
            <p>
                <span>13/14 General Meetings</span>
                <span>14/6 Committee Meetings</span>
                <span>1/1 Social Event</span>
                <span>1/1 Volunteering</span>
            </p>
        </div>
        <div>
            <img/>
        </div>
    </div>
    <div>
        <div>
            <p><b>Spring 2022:</b> Active Member</p>
            <p>
                <span>11/14 General Meetings</span>
                <span>6/6 Committee Meetings</span>
                <span>1/1 Social Event</span>
                <span>1/1 Volunteering</span>
            </p>
        </div>
        <div>
            <img/>
        </div>
    </div>
<main>

<!-- Everything above this section will be part of the final code-->

</div>

</body>
</html>
