{% extends "base.html.j2" %}
<!-- testing purporses only -->
{% block head %}
<script src="{{ url_for("static", filename="js/semester-sort-and-filter.js") }}" defer></script>
<script src="{{ url_for("static", filename="js/student-wics.js") }}" defer></script>
{% endblock %}
<!-- testing purporses only -->
{% block content %}
<main>
                <div class="tabcontent" id="membership">
                    <!--Chart Background-->
                    <p class="chart-first-zero">0</p>
                    <div class="chart-background">
                        <div class="chart-bckg1 one-dig-num"><p>2</p></div>
                        <div class="chart-bckg2 one-dig-num"><p>4</p></div>
                        <div class="chart-bckg3 one-dig-num"><p>6</p></div>
                        <div class="chart-bckg4 one-dig-num"><p>8</p></div>
                        <div class="chart-bckg5"><p>10</p></div>
                        <div class="chart-bckg6"><p>12</p></div>
                        <div class="chart-bckg7"><p>14</p></div>

                    </div>
                    <div class="points-bar">
                        <div class="chart-bar wic-bar" id="social-total-points-bar" style="width:7.14%">
                            <!--Flexbox-->
                            <div id="social-earned-points-bar" style="width:100%"></div><!--Social Event--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                        </div>
                        <div class="chart-bar wic-bar" id="volunteering-total-points-bar" style="width:7.14%">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="volunteering-earned-points-bar" style="width:100%"></div><!--Volunteering--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                        </div>
                        <div class="chart-bar wic-bar" id="committee-total-points-bar" style="width:42.86%">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="committee-earned-points-bar" style="width:100%"></div><!--Committee Meetings--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                            <div style="width:0%"></div><!--Placeholder-->
                        </div>
                        <div class="chart-bar wic-bar" id="general-total-points-bar">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="general-earned-points-bar" style="width:100%"></div><!--General Meetings--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                        </div>
                    </div>
                    <div class="chart-placeholder"></div>
                    <div class="chart-labels">
                        <!--Flexbox-->
                        <div>
                            <div></div> <!--Circle-->
                            <p>Social Event (<span id="social-events"></span>/<span id="total-social-events"></span>)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>Volunteering (<span id="volunteering-events"></span>/<span id="total-volunteering-events"></span>)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>Committee Meetings (<span id="committee-events"></span>/<span id="total-committee-events"></span>)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>General Meetings (<span id="general-events"></span>/<span id="total-general-events"></span>)</p><!--display numerical points here-->
                        </div>
                        <p><b></b></p>
                    </div>

                    <!--Gray Boxes-->
                    <div class="points-info-container2">

                        <section class="info-box-gray social-events">
                            <h2>Volunteering</h2>
                            <p>
                                WiC is committed to be a part of the community. To find more information about volunteering opportunities, please visit  <span class="external-url">WiC's Events Page</span>.
                            </p>
                            <span class="learn-more-cont">
                                <button class="learn-more" onclick="location.href='https://www.rit.edu/womenincomputing/events'">Learn More</button>
                            </span>
                        </section>
                        <section class="info-box-gray volunteering">
                            <h2>Social Events</h2>
                            <p>
                                There are various social events hosted by WiC throughout the year. To find out more about these events, please visit <span class="external-url">WiC's Events Page</span>.
                            </p>
                            <span class="learn-more-cont">
                                <button class="learn-more" onclick="location.href='https://www.rit.edu/womenincomputing/events'">Learn More</button>
                            </span>
                        </section>
                    </div>
                </div>
   
</main>


{% endblock content %}