{% extends "base.html.j2" %}
{% block head %}
<script defer src={{ url_for("static", filename="js/admin2.js") }}></script>
{% endblock %}
{% block content %}
{% include "nav.html.j2" %} 
{% include "widgets/db-nav.html.j2" %}
    
    <table class="dbTable" id="dbTable">
        <tr class="dbTableTop">
            <th></th>
            <th data-column="First Name">FIRST NAME</th>
            <th data-column="Last Name">LAST NAME</th>
            <th data-column="Membership">MEMBERSHIP</th>
            <th data-column="Semesters">SEMESTER</th>
            <th data-column="Email">EMAIL ADDRESS</th>
            <th data-column="General Meetings">GEN. MEETINGS</th>
            <th data-column="Committee Meetings">COM. MEETINGS</th>
            <th data-column="Social Events">SOCIAL EVENT</th>
            <th data-column="Volunteering">VOLUNTEERING</th>
            <th data-column="Points" class="dbTablePH">POINTS</th>
            <th></th>
        </tr>
    </table>

    <style>
    .sort-indicator {
        display: inline-block;
        margin-left: 5px;
    }
    #dbTable th[data-column] {
        cursor: pointer;
        position: relative;
    }
    #dbTable th[data-column]:hover {
        background-color: #f5f5f5;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        overflow: auto;
    }
    
    .modal.show-modal {
        display: block;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        border-radius: 8px;
    }
    </style>

    <!--Reports Modal -->
<div id="modal-rew" class="modal-rew">
  <div class="modal-rew-content">
  <button class="semester-report-btn report-btn" >Download</button>
    <span class="close">&times;</span>
    <h2 style="margin-left: 80px; margin-top: 80px;">2024-2025 Yearly Report</h2>
        <div class="report-upper" style="margin-left: 80px;">
            <p>Active Members: {{ active_count_members }}</p>

            <p>Inactive Members: {{ inactive_count_members }}</p>

            <p>Alumni Members: {{ alumni_count_memebers }}</p>
        </div>

        <h3 style="margin-left: 80px; transform:translateY(20px);">GRADUATING MEMBERS</h3>

        <table class=" smallerTable" style="margin-top: 100px;">
            <!--THIS TABLE SHOULD LIST ALL MEMBERS GRADUATING THIS YEAR-->
            <tr class="dbTableTop">
                <th></th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>MEMBERSHIP</th>
                <th>SEMESTER</th>
                <th>EMAIL ADRESS</th>
                <th class="dbTablePH"></th>
                <th></th>
            </tr>
                {% for grad_students in graduation_students %}
            <tr class="dbTableRow">
                <td></td>
                <td>{{ grad_students['first_name'] }}</td>
                <td>{{ grad_students['last_name'] }}</td>
                <td>{{ "Active" if grad_students['membership'] else "Inactive" }}</td>
                <td>{{ grad_students['semesters'] }}</td>
                <td>{{ grad_students['email_address'] }}</td>
                <td class="dbTablePH"></td>
                <td></td>
            </tr>
                {% endfor %}
        </table>

        <h3 style="margin-left: 80px; transform:translateY(20px);">ACTIVE MEMBERS</h3>

        <table class=" smallerTable" style="margin-top: 100px;"> <!--THIS TABLE SHOULD LIST ALL ACTIVE MEMBERS DESCENDING BASED ON NUMBER OF SEMESTERS-->
            <tr class="dbTableTop">
                <th></th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>MEMBERSHIP</th>
                <th>SEMESTER</th>
                <th>EMAIL ADRESS</th>
                <th class="dbTablePH"></th>
                <th></th>
            </tr>
                {% for active_students in active %}
            <tr class="dbTableRow">
                <td></td>
                <td>{{ active_students['first_name'] }}</td>
                <td>{{ active_students['last_name'] }}</td>
                <td>{{ "Active" if active_students['membership'] else "Inactive" }}</td>
                <td>{{ active_students['semesters'] }}</td>
                <td>{{ active_students['email_address'] }}</td>
                <td class="dbTablePH"></td>
                <td></td>
            </tr>
                {% endfor %}
        </table>
        </div>
    </div>
</div>

<!-- Rewards Modal -->
<div id="modal-rep" class="modal-rew">
<button class="semester-report-btn report-btn" style="margin-left:100px;">Notify Students</button>
  <div class="modal-rep-content">
    <span class="close2">&times;</span>
    <h2 style="margin-left: 80px; margin-top: 80px;">Rewards</h2>
        <table class="smallerTable" style="margin-top: 100px;">
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td style="transform: translateX(-30px);"><b>Firstname Lastname</b> has met the requirements for this award: <b>AwardName</b></td>
                <td class="dbTablePH"></td>
                <td style="padding-right: 0px;">MM/DD/YYYY</td> <!--When the notification was sent-->
            </tr>
        </table>
    </div>
</div>

    <div id="editProfileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('editProfileModal').classList.remove('show-modal')">&times;</span>
            <h2>Edit Profile</h2>
            <form id="editProfileForm" class="edit-profile-form" method="post" action="{{ url_for('admin.confirm_edit_user') }}">
                <input type="hidden" id="edit-user-id" name="user_id">
                <input type="hidden" id="edit-org-id" name="organization_id" value="1">
                
                <div class="form-group">
                    <label for="edit-email">Email:</label>
                    <input type="text" id="edit-email" name="email">
                </div>
                
                <div class="form-group">
                    <label for="edit-first_name">First Name:</label>
                    <input type="text" id="edit-first_name" name="first_name">
                </div>
                
                <div class="form-group">
                    <label for="edit-last_name">Last Name:</label>
                    <input type="text" id="edit-last_name" name="last_name">
                </div>
                
                <div class="form-group">
                    <label for="edit-rit_id">RIT ID:</label>
                    <input type="text" id="edit-rit_id" name="rit_id">
                </div>
                
                <div class="form-group">
                    <label for="edit-graduation_year">Graduation Year:</label>
                    <input type="text" id="edit-graduation_year" name="graduation_year">
                </div>
                
                <div class="form-group">
                    <label for="edit-degree">Degree:</label>
                    <input type="text" id="edit-degree" name="degree">
                </div>
                
                <div class="form-group">
                    <label for="edit-pronouns">Pronouns:</label>
                    <input type="text" id="edit-pronouns" name="pronouns">
                </div>
                
                <div class="form-group">
                    <label for="edit-avatar_path">Avatar Path:</label>
                    <input type="text" id="edit-avatar_path" name="avatar_path">
                </div>
                
                <button type="submit" class="form-submit-button">Save Changes</button>
            </form>
        </div>
    </div>

</main>
<script>
var modal = document.getElementById("modal-rew");
var btn = document.getElementById("modal-rew-Btn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

var modal2 = document.getElementById("modal-rep");
var btn2 = document.getElementById("modal-rep-Btn");
var span2 = document.getElementsByClassName("close2")[0];
btn2.onclick = function() {
  modal2.style.display = "block";
}
span2.onclick = function() {
  modal2.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
</script>
{% endblock %}