{% extends "base.html.j2" %}
{% block head %}
<script defer src={{ url_for("static", filename="js/admin2.js") }}></script>
{% endblock %}
{% block content %}
{% include "nav.html.j2" %} 
<div id="filter-dialog-box" title="Filters">
    <form name="filter-settings" id="filter-settings" method="post">
        <fieldset>
            <div>
                <select name="filter-sort-by" id="filter-sort-by">
                    <option>Sort by: First Name</option>
                    <option>Sort by: Last Name</option>
                    <option>Sort by: Email</option>
                    <option>Sort by: Semesters</option>
                    <option>Sort by: General Meetings</option>
                    <option>Sort by: Commmittee Meetings</option>
                    <option>Sort by: Volunteering</option>
                    <option>Sort by: Social Events</option>
                </select>
                <select name="filter-sort-order" id="filter-sort-order">
                    <option>Ascending</option>
                    <option>Decending</option>
                </select>
            </div>
            <div> 
                <label for="filter-membership">Membership</label>
                <select name="filter-membership" id="filter-membership">
                    <option>All</option>
                    <option>Active Member</option>
                    <option>Non-Active Member</option>
                </select>    
            </div>
            <div>
                <label for="filter-semesters">Semesters</label>
                <select name="filter-semesters" id="filter-semesters">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div>
                <label for="filter-gen-meetings">Gen. Meetings</label>
                <select name="filter-gen-meetings" id="filter-gen-meetings">
                    <option>All</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                </select>
            </div>
            <div>
                <label for="filter-con-meetings">Com. Meetings</label>
                <select name="filter-con-meetings" id="filter-con-meetings">
                    <option>All</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div>
                <label for="filter-social-event">Social Event</label>
                <select name="filter-social-event" id="filter-social-event">
                    <option>All</option>
                    <option>0</option>
                    <option>1</option>
                </select>
            </div>
            <div>
                <label for="filter-volunteering">Volunteering</label>
                <select name="filter-volunteering" id="filter-volunteering">
                    <option>All</option>
                    <option>0</option>
                    <option>1</option>
                </select>
            </div>
            <!-- allow for form submission without duplicating the dialog button-->
            <!-- <input type="submit" tabindex="-1" style="position: absolute; top: -1000px"> -->
        </fieldset>
    </form>
</div>

<div id="create-meeting-dialog-box" title="Create Meeting">
    <form name="create-meeting" id="create-meeting" method="post">
        <fieldset>
            <div class="dialog-item">
                <label for="meeting-title">Title:</label>
                <input type="text" name="meeting-title" id="meeting-title">
            </div>
            <div class="dialog-row">
                <div>
                    <label for="meeting-date">Date:</label>
                    <input type="date" name="meeting-date" id="meeing-date" style="padding: 8px 0px;">
                </div>
                <div>
                    <label for="meeting-time-start">Start Time:</label>
                    <select name="meeting-time-start" id="meeting-time-start">
                        <option>6am</option>
                        <option>6:15am</option>
                        <option>6:30am</option>
                        <option>6:45am</option>
                        <option>7am</option>
                        <option>7:15am</option>
                        <option>7:30am</option>
                        <option>7:45am</option>
                        <option>8am</option>
                        <option>8:15am</option>
                        <option>8:30am</option>
                        <option>8:45am</option>
                        <option>9am</option>
                        <option>9:15am</option>
                        <option>9:30am</option>
                        <option>9:45am</option>
                        <option>10am</option>
                        <option>10:15am</option>
                        <option>10:30am</option>
                        <option>10:45am</option>
                        <option>11am</option>
                        <option>11:15am</option>
                        <option>11:30am</option>
                        <option>11:45am</option>
                        <option>12pm</option>
                        <option>12:15pm</option>
                        <option>12:30pm</option>
                        <option>12:45pm</option>
                        <option>1pm</option>
                        <option>1:15pm</option>
                        <option>1:30pm</option>
                        <option>1:45pm</option>
                        <option>2pm</option>
                        <option>2:15pm</option>
                        <option>2:30pm</option>
                        <option>2:45pm</option>
                        <option>3pm</option>
                        <option>3:15pm</option>
                        <option>3:30pm</option>
                        <option>3:45pm</option>
                        <option>4pm</option>
                        <option>4:15pm</option>
                        <option>4:30pm</option>
                        <option>4:45pm</option>
                        <option>5pm</option>
                        <option>5:15pm</option>
                        <option>5:30pm</option>
                        <option>5:45pm</option>
                        <option>6pm</option>
                        <option>6:15pm</option>
                        <option>6:30pm</option>
                        <option>6:45pm</option>
                        <option>7pm</option>
                        <option>7:15pm</option>
                        <option>7:30pm</option>
                        <option>7:45pm</option>
                        <option>8pm</option>
                        <option>8:15pm</option>
                        <option>8:30pm</option>
                        <option>8:45pm</option>
                    </select>
                </div> 
                <div>
                    <label for="meeting-time-end">End Time:</label>
                    <select name="meeting-time-end" id="meeting-time-end">
                        <option>6am</option>
                        <option>6:15am</option>
                        <option>6:30am</option>
                        <option>6:45am</option>
                        <option>7am</option>
                        <option>7:15am</option>
                        <option>7:30am</option>
                        <option>7:45am</option>
                        <option>8am</option>
                        <option>8:15am</option>
                        <option>8:30am</option>
                        <option>8:45am</option>
                        <option>9am</option>
                        <option>9:15am</option>
                        <option>9:30am</option>
                        <option>9:45am</option>
                        <option>10am</option>
                        <option>10:15am</option>
                        <option>10:30am</option>
                        <option>10:45am</option>
                        <option>11am</option>
                        <option>11:15am</option>
                        <option>11:30am</option>
                        <option>11:45am</option>
                        <option>12pm</option>
                        <option>12:15pm</option>
                        <option>12:30pm</option>
                        <option>12:45pm</option>
                        <option>1pm</option>
                        <option>1:15pm</option>
                        <option>1:30pm</option>
                        <option>1:45pm</option>
                        <option>2pm</option>
                        <option>2:15pm</option>
                        <option>2:30pm</option>
                        <option>2:45pm</option>
                        <option>3pm</option>
                        <option>3:15pm</option>
                        <option>3:30pm</option>
                        <option>3:45pm</option>
                        <option>4pm</option>
                        <option>4:15pm</option>
                        <option>4:30pm</option>
                        <option>4:45pm</option>
                        <option>5pm</option>
                        <option>5:15pm</option>
                        <option>5:30pm</option>
                        <option>5:45pm</option>
                        <option>6pm</option>
                        <option>6:15pm</option>
                        <option>6:30pm</option>
                        <option>6:45pm</option>
                        <option>7pm</option>
                        <option>7:15pm</option>
                        <option>7:30pm</option>
                        <option>7:45pm</option>
                        <option>8pm</option>
                        <option>8:15pm</option>
                        <option>8:30pm</option>
                        <option>8:45pm</option>
                    </select>
                </div>
            </div>
            <div class="dialog-row">
                <div>
                    <div class="week-row">
                        <input type="checkbox" id="repeat-days" name="repeat-days"><label for="repeat-days">Repeat Every:</label>
                    </div>
                    <div class="week-row">
                        <input type="checkbox" id="M" name="M"><label for="M">M</label>
                        <input type="checkbox" id="Tu" name="Tu"><label for="Tu">T</label>
                        <input type="checkbox" id="W" name="W"><label for="W">W</label>
                        <input type="checkbox" id="Th" name="Th"><label for="Th">T</label>
                        <input type="checkbox" id="F" name="F"><label for="F">F</label>
                        <input type="checkbox" id="Sat" name="Sat"><label for="Sat">S</label>
                        <input type="checkbox" id="Sun" name="Sun"><label for="Sun">S</label>
                    </div>
                </div>
                <div style="margin-left:60px;">
                    <label for="meeting-location">Meeting Location:</label>
                    <input type="text" name="meeting-location" id="meeting-location">
                </div>
            </div>
            <div class="dialog-item">
                <label for="description">Description</label>
                <textarea id="description" rows="6" cols="58" style="min-width:520px"></textarea>
            </div>
        </fieldset>
    </form>
</div>

{% with org=2 %}
    {% include "widgets/meeting-upload.html.j2" %}
{% endwith %}

<div id="send-email-dialog-box" title="Send Email">
    <form name="send-email" id="send-email">
        <fieldset>
            <div>
                <label for="send-to">To:</label>
                <input type="text" name="send-to" id="send-to">
            </div>
            <div>
                <textarea id="email-message" rows="6" cols="58"></textarea>
            </div>
            <div class="add-file-button">
                <button>Add Files</button>
            </div>
        </fieldset>
    </form>
</div>


<main>

    <div class="database-dropdown-large1">
        <button onclick="dropDown1()" class="dropbtn1">
            COMS Student Data
            <span class="dropDownArrow"><img src="../static/images/down-arrow-black.png" width="16" /></span>
        </button>
        <div id="DropdownContent1" class="dropdown-content-large1">
            <a>COMS Attendance Data</a>
        </div>
    </div>

    <div class="database-dropdown-large2">
        <button onclick="dropDown2()" class="dropbtn2">
            Fall 2024
            <span class="dropDownArrow"><img src="../static/images/down-arrow-black.png" width="16" /></span>
        </button>
        <div id="DropdownContent2" class="dropdown-content-large2">
            <a>Spring 2024</a>
            <a>Fall 2023</a>
            <a>Spring 2023</a>
            <a>Fall 2022</a>
            <a>Spring 2022</a>
            <a>Fall 2021</a>
        </div>
    </div>


    <div class="database-dropdown-medium">
        <button onclick="dropDown3()" class="dropbtn3">
            Filter by: First Name
            <span class="dropDownArrow"><img src="../static/images/down-arrow-black.png" width="16" /></span>
        </button>
        <div id="DropdownContent3" class="dropdown-content-medium">
            <a>Filter by: Last Name</a>
            <a>Filter by: Email</a>
            <a>Filter by: Membership</a>
            <a>Filter by: Semesters</a>
        </div>
    </div>


    <div class="search-container">
        <input type="text" id="search" placeholder="Search Students">
    </div>

    <div class="optbutton">
        <button id="filter-button"><img src="../static/images/opticon1.png" width="32" /></button>
    </div>

    <div class="optbutton">
        <button id="import-data-button"><img src="../static/images/opticon2.png" width="32" /></button>
    </div>

    <div class="optbutton">
        <button id="create-meeting-button"><img src="../static/images/opticon5.png" width="32" /></button>
    </div>


<table class="dbTable" id="dbTable">
    <tr class="dbTableTop">
        <th></th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>MEMBERSHIP</th>
        <th>SEMESTER</th>
        <th>E-MAIL ADDRESS</th>
        <th>MENTORSHIP</th>
        <th>VOLUNTEERING</th>
        <th>ATTENDANCE</th>
        <th>MISC</th>
        <th>TOTAL POINTS</th>
        <th class="dbTablePH"></th>
        <th></th>
    </tr>
</table>

<!-- Edit Profile Modal -->
<div id="editProfileModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('editProfileModal').classList.remove('show-modal')">&times;</span>
        <h2>Edit Profile</h2>
        <form id="editProfileForm" class="edit-profile-form" method="post" action="{{ url_for('admin.confirm_edit_user') }}">
            <input type="hidden" id="edit-user-id" name="user_id">
            
            <div class="form-group">
                <label for="edit-email">Email:</label>
                <input type="text" id="edit-email" name="email">
            </div>
            
            <div class="form-group">
                <label for="edit-first_name">First Name:</label>
                <input type="text" id="edit-first_name" name="first_name">
            </div>
            
            <div class="form-group">
                <label for="edit-last_name">Last Name:</label>
                <input type="text" id="edit-last_name" name="last_name">
            </div>
            
            <div class="form-group">
                <label for="edit-rit_id">RIT ID:</label>
                <input type="text" id="edit-rit_id" name="rit_id">
            </div>
            
            <div class="form-group">
                <label for="edit-graduation_year">Graduation Year:</label>
                <input type="text" id="edit-graduation_year" name="graduation_year">
            </div>
            
            <div class="form-group">
                <label for="edit-degree">Degree:</label>
                <input type="text" id="edit-degree" name="degree">
            </div>
            
            <div class="form-group">
                <label for="edit-pronouns">Pronouns:</label>
                <input type="text" id="edit-pronouns" name="pronouns">
            </div>
            
            <div class="form-group">
                <label for="edit-avatar_path">Avatar Path:</label>
                <input type="text" id="edit-avatar_path" name="avatar_path">
            </div>
            
            <button type="submit" class="form-submit-button">Save Changes</button>
        </form>
    </div>
</div>

</main>
{% endblock %}