{% extends "base.html.j2" %}
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
<script src="{{ url_for("static", filename="js/admin2.js") }}" defer></script>
{% endblock %}
{% block content %}


<main>

    <table class="dbTable" id="orgMembers">
        <tr class="dbTableTop">
            <th>MEETING NAME</th>
            <th>DATE</th>
            <th>TIME</th>
            <th>ROOM</th>
            <th>TOTAL ATTENDANCE</th>
            <th></th>
        </tr>
         <tr class="dbTableRow">
            <td>General Meeting</td>
            <td>3/25/2025</td>
            <td>8 am</td>
            <td>GOL 2400</td>
            <td>14</td>
            <td><img src="../static/images/options.png" width="16" /></td>
        </tr>
    </table>
</main>
{% endblock %}


