{% extends "base.html.j2" %}
{% block content %}
{% include "nav.html.j2" %}
<h1 class="titlewics">WiC & COMS</h1>


<div class="wicsdemo-container">
    <main>
                
        <div class="wics-coms-container">
            
            <section class="wics">
                <h2>Women in Computing</h2>
                
                <div class="wicsextra-info">
                    <!-- <img src="../images/women-in-computing.jpg" alt="women-in-computing"> -->
                    
                    <button class="wicscomsbutton">See Profile</button>
                </div>
            </section>
            <section class="coms ">
                <h2>Computing<br> Organization for <br>Multicultural Students</h2>
                
                <div class="wicsextra-info">
                    <!-- <img src="../images/women-in-computing.jpg" alt="Coms"> -->
                    
                    <button class="wicscomsbutton">See Profile</button>
                </div>
            </section>
            
        </div>
    </main>
</div>
{% endblock %}