<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <script src="../static/js/mainjavascript.js"></script>

</head>

<body>
    <nav>
        <ul class="nav-options-box">
            <li><a href=""><p>NOTIFICATIONS</p></a></li>
            <li><a href=""><p>SETTINGS</p></a></li>
            <li>
                <div class="navbar-dropdown">
                    <button onclick="dropDown4()" class="dropbtn4">
                        WILL SMITH
                        <span class="dropDownArrow"><img src="../static/images/down-arrow-white.png" width="10" /></span>
                    </button>
                    <div id="DropdownContent4" class="dropdown-content-navbar">
                        <a>Profile</a>
                        <a>Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <h1 class="titlewics">WiC & COMS</h1>
    

    <div class="wicsdemo-container">
        <main>
                   
            <div class="wics-coms-container">
                
                <section class="wics">
                    <h2>Women in Computing</h2>
                    <div class="wicsextra-info">
                        <button class="indexdbbutton" onclick="location.href='database-view-wic.html'">See Data</button>
                        <button class="wicscomsbutton" onclick="location.href='wics-profile.html'">See Profile</button>
                    </div>
                </section>

                <section class="coms ">
                    <h2>Computing<br> Organization for <br>Multicultural Students</h2>
                    <div class="wicsextra-info">
                        <button class="indexdbbutton" onclick="location.href='database-view-wic.html'">See Data</button>
                        <button class="wicscomsbutton" onclick="location.href='coms-profile.html'">See Profile</button>
                    </div>
                </section>
                
            </div>

        </main>

    </div>

</body>
</html>