{% extends "base.html.j2" %}
{% block head %}
{% endblock %}
{% block content %}
<main>
    {% include "nav.html.j2" %} 
    <h1 class="titlewics">WiC & COMS</h1>
    <div class="wicsdemo-container">     
        <div class="wics-coms-container">
            <section class="wics">
                <h2>Women in Computing</h2>
                <div class="wicsextra-info">
                    <!-- <img src="../images/women-in-computing.jpg" alt="women-in-computing"> -->
                    
                    <button class="wicscomsbutton" onclick="window.location.href='{{ url_for('student.wic_homepage') }}'">See Profile</button>

                    {% for admin_profile in current_user.positions %}
                        {% if admin_profile.organization_id == 1  %}
                            <button class="indexdbbutton" onclick="window.location.href='{{ url_for('admin.dashboard', org=1) }}'">See Data</button>
                            {% break %}
                        {% endif %}
                    {% endfor %}


                </div>
            </section>
            <section class="coms">
                <h2>Computing<br> Organization for <br>Multicultural Students</h2>
                <div class="wicsextra-info">
                    <button class="wicscomsbutton" onclick="window.location.href='{{ url_for('student.coms_homepage') }}'">See Profile</button>

                    {% for admin_profile in current_user.positions %}
                        {% if admin_profile.organization_id == 2  %}
                            <button class="indexdbbutton" onclick="window.location.href='{{ url_for('admin.dashboard', org=2) }}'">See Data</button>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}