<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
   
</head>

<body>
    <nav>
        <ul class="nav-options-box">
            <li><a href=""><p>NOTIFICATIONS</p></a></li>
            <li><a href=""><p>SETTINGS</p></a></li>
            <li><section><p>WILL SMITH <img src="../static/images/down-arrow-white.png" width="10" /> </p></section></li>
        </ul>
    </nav>

    <h1 class="titlewics">WIC & COMS</h1>
    

    <div class="wicsdemo-container">
        <main>
                   
            <div class="wics-coms-container">
                
                <section class="wics">
                    <h2>Women in Computing</h2>
                    
                    <div class="wicsextra-info">
                        <!-- <img src="../images/women-in-computing.jpg" alt="women-in-computing"> -->
                        
                        <button class="wicscomsbutton">See Profile</button>
                    </div>
                </section>
                <section class="coms ">
                    <h2>Computing<br> Organization for <br>Multicultural Students</h2>
                    
                    <div class="wicsextra-info">
                        <!-- <img src="../images/women-in-computing.jpg" alt="Coms"> -->
                        
                        <button class="wicscomsbutton">See Profile</button>
                    </div>
                </section>
                
            </div>
        </main>

     

    </div>

</body>

</html>