<header>
	<div class="black-bar"></div>
	<!-- Black section on the left -->
	<nav>
		 {% if request.url_rule.endpoint != 'home.homepage' %}
			<a href="{{ url_for('home.homepage') }}">
				<img class="backarrow" src="../static/images/back-arrow.png" width="20" color="white"/>
			</a>
	    {% endif %}
      <div class="menu-toggle" onclick="toggleMenu()">
         &#9776;
      </div>

		<div class="navbar">
			<div class="dropdown" style="float:right">
				<button class="dropbtn">
					<b>{{ current_user.full_name | upper }}</b>
					<span class="dropDownArrow-nav">
						<img src="/static/images/down-arrow-white.png" width="10">
					</span>
				</button>
				<div class="dropdown-content">
					<a href='{{ url_for('student.account') }}'>Profile</a>
					<a href="#">Logout</a>
				</div>
			</div>

		</div>
        </nav>
		
		
</header>
<script>
      function toggleMenu() {
          document.querySelector(".nav-options-box").classList.toggle("show");
      }
</script>
