{% extends "base.html.j2" %}
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
{% endblock %}
{% block content %}
<body data-profile-id="{{ current_user.profile_id }}">
{% set whatever = "" %}
{% set general_meetings = namespace(value=0) %}
{% set committee = namespace(value=0) %}
{% set social_events = namespace(value=0) %}
{% set volunteering = namespace(value=0) %}
{% include "nav.html.j2" %} 
	<main>

        <h2 style="margin-left: 80px; margin-top: 80px;">{{ current_user.first_name }} {{ current_user.last_name }}</h2>
        <div class="profile-container">
            <div class="profile-sec">

                <!-- for Loop for attendance -->
                {% for event in current_user.attendance %}
                    
                {% set whatever = event.meeting_type %}
                
                    {% if 'GENERAL' in whatever.name %}
                        {% set general_meetings.value  = general_meetings.value + 1 %}    
                    {% endif %} 
                    {% if 'COMMITTEE' in whatever.name %}
                        {% set committee.value  = committee.value + 1 %}    
                    {% endif %} 
                    {% if 'SOCIAL' in whatever.name %}
                        {% set social_events.value  = social_events.value + 1 %}    
                    {% endif %} 
                    {% if 'VOLUNTEER' in whatever.name %}
                        {% set volunteering.value  = volunteering.value + 1 %}    
                    {% endif %} 
                {% endfor %}
                <h3>MEMBERSHIP INFORMATION</h3>
                <div class="profile-subsec">
                    <h4>Membership:</h4>
                    <p>{% if not current_user.membership(1) %}Non-{% endif %}Active Member</p>

                    <!-- Count Semesters , basically just loops thru and counts unique enterants-->
                    <h4>Semester:</h4>
                    {% set semesters_list = [] %}
                    {% set current_semester = "" %}
                    {% for event in current_user.attendance %}
                        {% set current_semeter = event.semester %}
                        {% set semesters_list = semesters_list.append(current_semeter) %}
                    {% endfor %}

                    <p>{{ semesters_list| unique| list | length }}</p>
                    

                    <h4>Awards:</h4>
                                    <!-- for Loop Awards -->
                    {% for award in current_user.awards %} 
                    <li> {{ award.name }}</li>
                    {% endfor %}
                    

                    <h4 style="opacity:0%;">placeholder</h4>
                    <p style="opacity:0%;">placeholder</p>
                </div>
                <div class="profile-subsec" style="margin-left: 100px;">
                    </li>
                    <h4>General Meetings:</h4>
                    <p>{{ general_meetings.value }}/14</p>

                    <h4>Committee Meetings:</h4>
                    <p>{{ committee.value }}/6</p>

                    <h4>Social Events:</h4>
                    <p>{{ social_events.value }}/1</p>

                    <h4>Volunteering:</h4>
                    <p>{{ volunteering.value }}/1</p>
                </div>
            </div>
        </div>
        <div class="profile-container">
            <div class="profile-sec">
                <form>
                    <h3>PERSONAL INFORMATION</h3>
                    <div class="profile-subsec">
                        <h4>Graduation Year:</h4>
                        <input type="text" id="graduation-year" name="graduation-year" value="{{ current_user.graduation_year }}">

                        <h4>Degree:</h4>
                        <input type="text" id="degree" name="degree" value="{{ current_user.degree }}">

                        <h4 style="opacity:0%;">placeholder</h4>
                        <p style="opacity:0%;">placeholder</p>

                        <h4 style="opacity:0%;">placeholder</h4>
                        <p style="opacity:0%;">placeholder</p>
                    </div>
                    <div class="profile-subsec" style="margin-left: 100px;">
                        <h4>Pronouns:</h4>
                        <input type="text" id="pronouns" name="pronouns" value="{{ current_user.pronouns }}">

                        <h4>T-shirt size:</h4>
                        <input type="text" id="size" name="size" value="DataHere">

                        <h4 style="opacity:0%;">placeholder</h4>
                        <p style="opacity:0%;">placeholder</p>

                        <h4 style="opacity:0%;">placeholder</h4>
                        <p style="opacity:0%;">placeholder</p>

                        <button class="semester-report-btn savebtn">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
{% endblock %}