<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
</head>

<!-- Everything below this section will be part of the final code-->

<body>
    <nav>
        <ul class="nav-options-box">
            <li><a href=""><p>NOTIFICATIONS</p></a></li>
            <li><a href=""><p>SETTINGS</p></a></li>
            <li><section><p>WILL SMITH <img src="../static/images/down-arrow-white.png" width="10" /> </p></section></li>
        </ul>
    </nav>
</body>
</html>