{% extends "base.html.j2" %}
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
{% endblock %}
{% block content %}

<body>
 {% include "nav.html.j2" %} 
    <main>
        <div class="profile-view-grid">
            <div class="membership-sec">
                <h2>Women in Computing</h2>
                <h3>Status: {% if not current_user.membership(1) %}Non-{% endif %}Active Member</h3>
                <button class="tablinks prof-view-btn active" onclick="openCity(event, 'membership')">Current Semester</button>
                <button class="tablinks prof-view-btn" onclick="openCity(event, 'history')">History</button>

                <div class="tabcontent" id="membership"> <!--MEMBERSHIP SECTION-->
                    <!--Chart Background-->
                    <p class="chart-first-zero">0</p>
                    <div class="chart-background">
                        <div class="chart-bckg1 one-dig-num"><p>2</p></div>
                        <div class="chart-bckg2 one-dig-num"><p>4</p></div>
                        <div class="chart-bckg3 one-dig-num"><p>6</p></div>
                        <div class="chart-bckg4 one-dig-num"><p>8</p></div>
                        <div class="chart-bckg5"><p>10</p></div>
                        <div class="chart-bckg6"><p>12</p></div>
                        <div class="chart-bckg7"><p>14</p></div>

                    </div>
                    <div class="points-bar">
                        <div class="chart-bar wic-bar" id="social-total-points-bar" style="width:7.14%">
                            <!--Flexbox-->
                            <div id="social-earned-points-bar" style="width:100%"></div><!--Social Event--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                        </div>
                        <div class="chart-bar wic-bar" id="volunteering-total-points-bar" style="width:7.14%">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="volunteering-earned-points-bar" style="width:100%"></div><!--Volunteering--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                        </div>
                        <div class="chart-bar wic-bar" id="committee-total-points-bar" style="width:42.86%">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="committee-earned-points-bar" style="width:100%"></div><!--Committee Meetings--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                            <div style="width:0%"></div><!--Placeholder-->
                        </div>
                        <div class="chart-bar wic-bar" id="general-total-points-bar">
                            <!--Flexbox-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div style="width:0%"></div><!--Placeholder-->
                            <div id="general-earned-points-bar" style="width:100%"></div><!--General Meetings--><!--change percentage based on point. ex: 2 out of 4 points is 50%-->
                        </div>
                    </div>
                    <div class="chart-placeholder"></div>
                    <div class="chart-labels">
                        <!--Flexbox-->
                        <div>
                            <div></div> <!--Circle-->
                            <p>Social Event (<span id="social-events"></span>/1)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>Volunteering (<span id="volunteering-events"></span>/1)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>Committee Meetings (<span id="committee-events"></span>/6)</p><!--display numerical points here-->
                        </div>
                        <div>
                            <div></div> <!--Circle-->
                            <p>General Meetings (<span id="general-events"></span>/14)</p><!--display numerical points here-->
                        </div>
                        <p><b></b></p>
                    </div>

                    <!--Gray Boxes-->
                    <div class="points-info-container2">

                        <section class="info-box-gray social-events">
                            <h2>Volunteering</h2>
                            <p>
                                WiC is committed to be a part of the community. To find more information about volunteering opportunities, please visit  <span class="external-url">WiC's Events Page</span>.
                            </p>
                            <span class="learn-more-cont">
                                <button class="learn-more" onclick="location.href='https://www.rit.edu/womenincomputing/events'">Learn More</button>
                            </span>
                        </section>
                        <section class="info-box-gray volunteering">
                            <h2>Social Events</h2>
                            <p>
                                There are various social events hosted by WiC throughout the year. To find out more about these events, please visit <span class="external-url">WiC's Events Page</span>.
                            </p>
                            <span class="learn-more-cont">
                                <button class="learn-more" onclick="location.href='https://www.rit.edu/womenincomputing/events'">Learn More</button>
                            </span>
                        </section>
                    </div>
                </div> <!--MEMBERSHIP SECTION-->

                <div id="history" class="tabcontent"> <!--HISTORY SECTION-->
                    <div class="table-container membership-history-container">
                        <div>
                            <div>
                                <p><b>Membership History by Semester</b></p>
                            </div>
                            <div>
                                <p><b>Awards</b></p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><b>Fall 2024:</b> Non-Active Member</p>
                                <p>
                                    <span>11/14 General Meetings</span>
                                    <span>5/6 Committee Meetings</span>
                                    <span>0/1 Social Event</span>
                                    <span>1/1 Volunteering</span>
                                </p>
                            </div>
                            <div>
            
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><b>Spring 2024:</b> Active Member</p>
                                <p>
                                    <span>14/14 General Meetings</span>
                                    <span>6/6 Committee Meetings</span>
                                    <span>1/1 Social Event</span>
                                    <span>1/1 Volunteering</span>
                                </p>
                            </div>
                            <div>
                                <img src="../static/images/awards.webp" alt="Award" >
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><b>Fall 2023:</b> Active Member</p>
                                <p>
                                    <span>14/14 General Meetings</span>
                                    <span>6/6 Committee Meetings</span>
                                    <span>1/1 Social Event</span>
                                    <span>1/1 Volunteering</span>
                                </p>
                            </div>
                            <div>
            
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><b>Spring 2023:</b> Active Member</p>
                                <p>
                                    <span>14/14 General Meetings</span>
                                    <span>6/6 Committee Meetings</span>
                                    <span>1/1 Social Event</span>
                                    <span>1/1 Volunteering</span>
                                </p>
                            </div>
                            <div>
            
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><b>Fall 2022:</b> Non-Active Member</p>
                                <p>
                                    <span>13/14 General Meetings</span>
                                    <span>4/6 Committee Meetings</span>
                                    <span>1/1 Social Event</span>
                                    <span>1/1 Volunteering</span>
                                </p>
                            </div>
                            <div>
                                <img src="../static/images/awards.webp" alt="Award" >
                            </div>
                        </div>
                        <div>
                            <div>
                                <p><b>Spring 2022:</b> Active Member</p>
                                <p>
                                    <span>11/14 General Meetings</span>
                                    <span>6/6 Committee Meetings</span>
                                    <span>1/1 Social Event</span>
                                    <span>1/1 Volunteering</span>
                                </p>
                            </div>
                            <div>
            
                            </div>
                        </div>
                    </div>
                </div> 
            </div> <!--HISTORY SECTION-->

            <div class="calendar-sec"> <!--CALENDAR SECTION-->
                {% include "calendar.html.j2" %}
            </div>
        </div>
    </main>

</body>

{% endblock %}