{% block content %}
<div class="titletabssection">
        <h2>Women in Computing</h2>
        <h3 class="status">Status: Non-Active Member</h3>
        <div class="tabs">
    <button class="tablinks" onclick="window.location.href='{{ url_for('testing.return_semester') }}'">Current Semester</button>
    <button class="tablinks" onclick="window.location.href='{{ url_for('testing.return_wic_int') }}'">History</button>
</div>
{% endblock %}