{% extends "base.html.j2" %}
{% block head %}
<script src="../static/js/mainjavascript.js"></script>
{% endblock %}
{% block content %}

{% include "nav.html.j2" %} 
<main>

        <h2 style="margin-left: 80px; margin-top: 80px;">2024-2025 Yearly Report</h2>
        <div class="report-upper" style="margin-left: 80px;">
            <p>Active Members: <!--PUT TOTAL NUMBER HERE--></p>

            <p>Inactive Members: <!--PUT TOTAL NUMBER HERE--></p>

            <p>Alumni Members: <!--PUT TOTAL NUMBER HERE--></p>
        </div>

        <h3 style="margin-left: 80px; transform:translateY(20px);">GRADUATING MEMBERS</h3>

        <table class="dbTable" style="margin-top: 100px;">
            <!--THIS TABLE SHOULD LIST ALL MEMBERS GRADUATING THIS YEAR-->
            <tr class="dbTableTop">
                <th></th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>MEMBERSHIP</th>
                <th>SEMESTER</th>
                <th>E-MAIL ADRESS</th>
                <th class="dbTablePH"></th>
                <th></th>
            </tr>
            <tr class="dbTableRow">
                <td></td>
                <td>Will</td>
                <td>Smith</td>
                <td>non-active</td>
                <td>9 semesters</td>
                <td>wms6730@rit.edu</td>
                <td class="dbTablePH"></td>
                <td></td>
            </tr>
        </table>

        <h3 style="margin-left: 80px; transform:translateY(20px);">ACTIVE MEMBERS</h3>

        <table class="dbTable" style="margin-top: 100px;"> <!--THIS TABLE SHOULD LIST ALL ACTIVE MEMBERS DESCENDING BASED ON NUMBER OF SEMESTERS-->
            <tr class="dbTableTop">
                <th></th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>MEMBERSHIP</th>
                <th>SEMESTER</th>
                <th>E-MAIL ADRESS</th>
                <th class="dbTablePH"></th>
                <th></th>
            </tr>
            <tr class="dbTableRow">
                <td></td>
                <td>Will</td>
                <td>Smith</td>
                <td>non-active</td>
                <td>9 semesters</td>
                <td>wms6730@rit.edu</td>
                <td class="dbTablePH"></td>
                <td></td>
            </tr>
        </table>

    </main>
{% endblock %}