<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize/normalize.css">
    <script src="../static/js/mainjavascript.js"></script>
</head>

<!-- Everything below this section will be part of the final code-->

<body>
    <nav>
        <a href="index.html"><img class="backarrow" src="../static/images/back-arrow.png" width="16" /></a>
        <ul class="nav-options-box">
            <li style="padding:0px;"><a href=""><p>NOTIFICATIONS</p></a></li>
            <li><a href=""><p>SETTINGS</p></a></li>
            <li>
                <div class="navbar-dropdown">
                    <button onclick="dropDown4()" class="dropbtn4">
                        WILL SMITH
                        <span class="dropDownArrow"><img src="../static/images/down-arrow-white.png" width="10" /></span>
                    </button>
                    <div id="DropdownContent4" class="dropdown-content-navbar">
                        <a>Profile</a>
                        <a>Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <main>

        <h2 style="margin-left: 80px; margin-top: 80px;">2024-2025 Yearly Report</h2>
        <div class="report-upper" style="margin-left: 80px;">
            <p>Active Members: <!--PUT TOTAL NUMBER HERE--></p>

            <p>Inactive Members: <!--PUT TOTAL NUMBER HERE--></p>

            <p>Alumni Members: <!--PUT TOTAL NUMBER HERE--></p>
        </div>

        <h3 style="margin-left: 80px; transform:translateY(20px);">GRADUATING MEMBERS</h3>

        <table class="dbTable" style="margin-top: 100px;">
            <!--THIS TABLE SHOULD LIST ALL MEMBERS GRADUATING THIS YEAR-->
            <tr class="dbTableTop">
                <th></th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>MEMBERSHIP</th>
                <th>SEMESTER</th>
                <th>E-MAIL ADRESS</th>
                <th class="dbTablePH"></th>
                <th></th>
            </tr>
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>Will</td>
                <td>Smith</td>
                <td>non-active</td>
                <td>9 semesters</td>
                <td>wms6730@rit.edu</td>
                <td class="dbTablePH"></td>
                <td></td>
            </tr>
        </table>

        <h3 style="margin-left: 80px; transform:translateY(20px);">ACTIVE MEMBERS</h3>

        <table class="dbTable" style="margin-top: 100px;"> <!--THIS TABLE SHOULD LIST ALL ACTIVE MEMBERS DESCENDING BASED ON NUMBER OF SEMESTERS-->
            <tr class="dbTableTop">
                <th></th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>MEMBERSHIP</th>
                <th>SEMESTER</th>
                <th>E-MAIL ADRESS</th>
                <th class="dbTablePH"></th>
                <th></th>
            </tr>
            <tr class="dbTableRow">
                <td>
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>Will</td>
                <td>Smith</td>
                <td>non-active</td>
                <td>9 semesters</td>
                <td>wms6730@rit.edu</td>
                <td class="dbTablePH"></td>
                <td></td>
            </tr>
        </table>

    </main>


</body>
</html>